.my-form,
.my-list {
    width: 75%;
}
/*
@media (max-width: 992px) {
    .my-form {
        width: 75%;
    }
}

@media (max-width: 1200px) {
    .my-form {
        width: 80%;
    }
} */

@media (max-width: 575.98px) {
    .col-md-9 {
      margin: 0 auto;
      float: none;
    }
  }

@media (min-width: 768px) {
      .col-lg-4 {
        margin-top: 20px;
      }
    }

@media (min-width: 992px) {
      .col-lg-4 {
        margin-top: 0;
        margin-left: 20px;
      }
    }

/* .med-cab-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
} */

.med-cab {
      background-color: teal;
      padding: 20px;
      border-radius: 5px;
      min-height: 100px;
      margin-bottom: 20px;
    }

.med-btn {
    border: 2px solid black;
    background-color: teal;
}

.med-btn:hover {
    background-color: white;
    color: teal;
    border: 2px solid teal;
}
/* 
.fa-pen {
    color: black;
} */

.app-name {
  color: teal;
  text-decoration: none;
}

.app-name:hover {
  color: black;
}

.user-info {
  margin: 20px 0;
}